<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/index" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
        Evento
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/views/evento.ejs">Crear</a></li>
        <li><a class="dropdown-item" href="#">Reservar</a></li>
        <li><a class="dropdown-item" href="#">Comprar</a></li>
      </ul>
    </li>
    <li class="nav-item" id="ultimo">
      <a href="/" class="nav-link btn btn-danger">Cerrar Sesion</a>
    </li>
  </ul>
</nav>