<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('partials/heads.ejs')%>
    <title>Document</title>
</head>

<body class="image bg-dark">
  <%- include('partials/nav.ejs') %>
    <div class="container">
      <div>
        <h1 class="text-center text-light">Registro de Eventos</h1>
      </div>
      <form class="row g-3 text-light" id="registroEvento">
        <div class="col-md-3">
          <label for="validationServer01" class="form-label">Nombre evento*</label>
          <input type="text" class="form-control " id="validationServer01" name="nombre_evento" 
            required>
          <div class="valid-feedback">
            
          </div>
        </div>

        <div class="col-md-3">
          <label for="validationServerUsername" class="form-label">Fecha Inicio*</label>
          <input type="date" class="form-control " name="fecha_evento" required>
          <div class="invalid-feedback">
            Por favor escriba una fecha válida
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServerUsername" class="form-label">Hora*</label>
          <input type="time" class="form-control " name="hora_evento" required>
          <div class="invalid-feedback">
            Por favor escriba una fecha válida
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServerUsername" class="form-label">Fecha Fin</label>
          <input type="date" class="form-control " name="fecha_fin" >
          <div class="invalid-feedback">
            Por favor escriba una fecha válida
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationServer02" class="form-label">Descripcion</label>
          <textarea class="form-control " id="validationServer02" name="descripcion" row="3"
            ></textarea>
          <div class="valid-feedback">
            
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationServer01" class="form-label">Ubicacion*</label>
          <input type="text" class="form-control " id="validationServer01" name="ubicacion"
            required>
          <div class="valid-feedback">
           
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer05" class="form-label">Nombre de Artista*</label>
          <input type="text" class="form-control " id="validationServer05" name="nombre_artista" required>
        </div>

        <div class="col-md-4">
          <label for="validationServer03" class="form-label">Imagen</label>
          <input type="text" class="form-control " id="validationServer03" name="ruta_imagen" required>
        </div>

        <div class="col-md-2">
          <label for="validationServer04" class="form-label">Cant Boletos*</label>
          <input type="number" class="form-control " id="validationServer04" name="cantidad" min="1" required>
        </div>
        <div class="col-md-2">
          <label for="validationServer04" class="form-label">Precio*</label>
          <input type="number" step="0.01" min="0" placeholder="0.00" class="form-control " id="validationServer04" name="precio" min="1" required>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Registrar Evento</button>
        </div>
      </form>
    </div>

    <script src="../js/registro.js"></script>
</body>

</html>