<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <section class="events">
            <div class="title">
                <h1> PRÓXIMOS EVENTOS</h1>
                <div class="line"></div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="./img/acdc.jpg" alt="">
                    <h4> .... </h4>
                    <p>El concierto es el 15 de Julio a las <time>20:00</time>.</p>
                    <a href="#" class="ctn"> RESERVAR</a>
                </div>
                <div class="col">
                    <img src="./img/octavia.jpg" alt="">
                    <h4> .... </h4>
                    <p>El concierto es el 30 de Julio a las <time>22:00</time>.</p>
                    <a href="#" class="ctn"> RESERVAR</a>
                </div>
                <div class="col">
                    <img src="./img/rata-blanca.jpg" alt="">
                    <h4> .... </h4>
                    <p>El concierto es el 20 de Agosto a las   <time>22:00</time>.</p>
                    <a href="#" class="ctn"> RESERVAR</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>