
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
width: 100vw;
height: 100vh;
background-image: url('./img/concierto.jpg');
background-position: bottom;
background-size: cover;
display: flex;
align-items: 0;
justify-content: center;

}
button{
    
    background-color: #0B173B;
    border-radius: 30px;
    color: white;
}
h2{
    font-size:  20vmin;
}
.ctn{
    padding: 8px 15px;
    background:#0B173B ;
    border-radius: 30px;
    color:whitesmoke;
}
a{
    text-decoration: none;
}

body , html{
    overflow-x: hidden;
}

/*eventos */
section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 4vmin;
    color:#0B173B ;
    
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: whitesmoke;
}
.row .col {
display: flex;
flex-direction: column;
align-items: center;
}
.events .row{
    margin-top: 50px;

}
h4{
    font-size: 4vmin;
}
.events .ctn{
    margin-top: 30px;
}
.botonvolver{
    margin-top: 20px;
}